.tresColunas {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px
}

.shapeVerde {
    width: 200px;
    height: 200px;
    background-color: #62ED96;
    padding: 20px;
}

.justify-content {
    gap: 50px;
    height: 75vh;
}

@media(max-height: 650px) {
    .container-06 {
        transform: scale(0.85);
    }
}